@model NEWWORK.Tbl_iş_aktivite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_iş_aktivite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.iş_aktivite_durumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iş_aktivite_durumu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iş_aktivite_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
